<PageTitle>Register</PageTitle>

<div class="col-md-6 offset-md-3 mt-5">
    <div class="card">
        <h4 class="card-header">Register</h4>
        <div class="card-body">
            <EditForm Model="@_registerUserRequest" OnValidSubmit="@RegisterUser">
                <DataAnnotationsValidator/>
                <div class="form-group">
                    <label>Login:</label>
                    <InputText @bind-Value="_registerUserRequest.Login" class="form-control"/>
                    <ValidationMessage For="@(() => _registerUserRequest.Login)"/>
                </div>
                <br/>
                <div class="form-group">
                    <label>Password:</label>
                    <InputText @bind-Value="_registerUserRequest.Password" class="form-control"/>
                    <ValidationMessage For="@(() => _registerUserRequest.Password)"/>
                </div>
                <br/>
                <div class="form-group">
                    <label>Confirm password:</label>
                    <InputText @bind-Value="_registerUserRequest.ConfirmPassword" class="form-control"/>
                    <ValidationMessage For="@(() => _registerUserRequest.ConfirmPassword)"/>
                </div>
                <br/>
                <div class="form-group">
                    <label>Email:</label>
                    <InputText @bind-Value="_registerUserRequest.Email" class="form-control"/>
                    <ValidationMessage For="@(() => _registerUserRequest.Email)"/>
                </div>
                <br/>
                <div class="form-group">
                    <label>First name:</label>
                    <InputText @bind-Value="_registerUserRequest.FirstName" class="form-control"/>
                    <ValidationMessage For="@(() => _registerUserRequest.FirstName)"/>
                </div>
                <br/>
                <div class="form-group">
                    <label>Last name:</label>
                    <InputText @bind-Value="_registerUserRequest.LastName" class="form-control"/>
                    <ValidationMessage For="@(() => _registerUserRequest.LastName)"/>
                </div>
                <br/>
                <div class="checkbox mb-3">
                    <label>
                        <InputCheckbox @bind-Value="_stayLoggedIn"/> Remember me 
                    </label>
                </div>
                <button class="col-12 btn btn-primary" type="submit">
                    @if (_loading)
                    {
                        <span class="spinner-border spinner-border-sm mr-1"></span>
                    }
                    Sign up
                </button>
                <div class="col-12" align="center">
                    <NavLink class="nav-link " href="/login">Already an user?</NavLink>
                </div>
                @if (!String.IsNullOrEmpty(_errorMessage))
                {
                    <br/>
                    <div class="alert alert-danger mt-3 mb-0">@_errorMessage</div>
                }
            </EditForm>
        </div>
    </div>
</div>