@using ButtonType = Blazorise.ButtonType
@using DataGridEditMode = Blazorise.DataGrid.DataGridEditMode

<PageTitle>User editor</PageTitle>
<PageProgress @ref="@_pageProgress" Visible="@_inProgress" Color="Color.Primary"/>

<h3>User editor</h3>

<Row>
    <Column ColumnSize="ColumnSize.IsFull">
        <DataGrid TItem="GridUserVm"
                  Data="@_userList"
                  TotalItems="@_totalUsers"
                  @bind-SelectedRow="@_selectedUser"
                  PageSize="@_pageSize"
                  ReadData="@OnReadDataAsync"
                  NewItemDefaultSetter="@OnValueNewItemDefaultSetter"
                  RowUpdated="@OnRowUpdatedAsync"
                  RowRemoved="@OnRowRemovedAsync"
                  RowInserted="@OnRowInsertedAsync"
                  ShowPager
                  CommandMode="@DataGridCommandMode.ButtonRow"
                  Editable
                  EditMode="@DataGridEditMode.Popup"
                  Responsive>
            <DataGridColumns>
                <DataGridCommandColumn/>
                <DataGridColumn Field="@nameof(GridUserVm.Id)" Caption="#" />
                <DataGridColumn Field="@nameof(GridUserVm.Login)" DisplayFormat="{0:D0}" Caption="Value" Editable />
                <DataGridColumn Field="@nameof(GridUserVm.FirstName)" Caption="Commentary" Editable />
                <DataGridColumn Field="@nameof(GridUserVm.LastName)" Caption="Commentary" Editable />
                <DataGridColumn Field="@nameof(GridUserVm.Email)" Caption="Commentary" Editable />
            </DataGridColumns>
            <ButtonRowTemplate>
                <Button Color="Color.Success" Disabled="@_inProgress" Clicked="context.NewCommand.Clicked">New</Button>
                <Button Color="Color.Primary" Disabled="@(_selectedUser is null)" Clicked="context.EditCommand.Clicked">Edit</Button>
                <Button Color="Color.Danger" Disabled="@(_selectedUser is null)" Clicked="context.DeleteCommand.Clicked">Delete</Button>
                <Button Color="Color.Primary" Clicked="@ShowModal">Show modal</Button>
            </ButtonRowTemplate>
        </DataGrid>
    </Column>
</Row>

<Row>
    <Column ColumnSize="ColumnSize.IsFull">
        <Alert Color="Color.Danger" Visible="@(!String.IsNullOrEmpty(_errorMessage))">
            <AlertMessage>Server validation error!</AlertMessage>
            <AlertDescription>@_errorMessage</AlertDescription>
        </Alert>
    </Column>
</Row>

<Modal @ref="_modalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Employee edit</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Field>
                <FieldLabel>First name</FieldLabel>
                <TextEdit Placeholder="Enter name..." />
            </Field>
            <Field>
                <FieldLabel>Last name</FieldLabel>
                <TextEdit Placeholder="Enter surname..." />
            </Field>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@OnCloseClicked">Close</Button>
            <Button Color="Color.Primary" Clicked="@OnSaveChangesClicked">Save Changes</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
