@using ButtonType = Blazorise.ButtonType
@using DataGridEditMode = Blazorise.DataGrid.DataGridEditMode

<PageTitle>Values moderation</PageTitle>
<PageProgress @ref="@_pageProgress" Visible="@_inProgress" Color="Color.Primary"/>

<h3>Values moderation</h3>

<Row>
    <Column ColumnSize="ColumnSize.IsFull">
        <DataGrid TItem="GridValueVm"
                  Data="@_valueList"
                  TotalItems="@_totalValues"
                  @bind-SelectedRow="@_selectedValue"
                  PageSize="@_pageSize"
                  ReadData="@OnReadDataAsync"
                  NewItemDefaultSetter="@OnValueNewItemDefaultSetter"
                  RowUpdated="@OnRowUpdatedAsync"
                  RowRemoved="@OnRowRemovedAsync"
                  RowInserted="@OnRowInsertedAsync"
                  ShowPager
                  CommandMode="@DataGridCommandMode.Default"
                  Editable
                  EditMode="@DataGridEditMode.Inline"
                  UseValidation
                  Responsive>
            <DataGridColumns>
                <DataGridCommandColumn/>
                <DataGridColumn Field="@nameof(GridValueVm.Id)" Caption="#" />
                <DataGridColumn Field="@nameof(GridValueVm.Value)" DisplayFormat="{0:D0}" Caption="Value" Editable />
                <DataGridColumn Field="@nameof(GridValueVm.Commentary)" Caption="Commentary" Editable />
            </DataGridColumns>
            <ButtonRowTemplate>
                <Button Color="Color.Success" Disabled="@_inProgress" Clicked="context.NewCommand.Clicked">New</Button>
                <Button Color="Color.Primary" Disabled="@(_selectedValue is null)" Clicked="context.EditCommand.Clicked">Edit</Button>
                <Button Color="Color.Danger" Disabled="@(_selectedValue is null)" Clicked="context.DeleteCommand.Clicked">Delete</Button>
                <Button Color="Color.Primary" Loading="@_addValuesInProgress" Disabled="@_inProgress" Clicked="@OnCreateSomeRandomValuesButtonClickedAsync">Add @_numberValuesToAdd</Button>
                <Button Color="Color.Danger" Clicked="@OnErrorTest">Error test</Button>
            </ButtonRowTemplate>
        </DataGrid>
    </Column>
</Row>

<Row>
    <Column ColumnSize="ColumnSize.IsFull">
        <Alert Color="Color.Danger" Visible="@(!String.IsNullOrEmpty(_errorMessage))">
            <AlertMessage>Server validation error!</AlertMessage>
            <AlertDescription>@_errorMessage</AlertDescription>
        </Alert>
    </Column>
</Row>