<Blazorise.ThemeProvider Theme="@_theme">
    <CascadingAuthenticationState>
        <Router AppAssembly="@typeof(Program).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        @if (context.User.Identity?.IsAuthenticated != true)
                        {
                            <RedirectToLogin />
                        }
                        else
                        {
                            <h1>Sorry</h1>
                            <p>You're not authorized to reach this page.</p>
                            <p>You may need to log in as a different user.</p>
                            <p role="alert">You are not authorized to access this resource.</p>
                        }
                    </NotAuthorized>
                    <Authorizing>
                        <h1>Authorization in progress</h1>
                        <p>Only visible while authorization is in progress.</p>
                    </Authorizing>
                </AuthorizeRouteView>
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(MainLayout)">
                    <h1>Sorry</h1>
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
        <NotificationAlert />
    </CascadingAuthenticationState>
</Blazorise.ThemeProvider>